.idea
.git
.DS_Store
dist
node_modules
.dockerignore
.editorconfig
.eslintrc.js
.fixpackrc
.gitignore
.node-version
cspell.json
cspell.txt
Dockerfile
stylelint.config.js
yarn-error.log
scripts
galleryOrigin
